* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #e8e8e8;
  /* height: 100vh;
  width: 100vw; */
}

.logged-out-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  gap: 2rem;
  background-color: #212121;
  color: #f5f5f5;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 3rem;
}

.logged-out-nav a {
  text-decoration: none;
  color: #f5f5f5;
}

.logged-out-nav a:hover {
  color: #7e82cd;
}

.logged-out-nav a:focus {
  color: #303587;
}

/* lol */

.card {
  width: 285px;
  height: 381px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
  background-color: #ffcaa6;
  height: 55%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-info {
  padding-top: 15%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

/* lol */
/* .product-card-btn, .product-card-btn:focus {
  font-size: 17px;
  padding: 10px 25px;
  border-radius: 0.7rem;
  background-image: linear-gradient(rgb(214, 202, 254), rgb(158, 129, 254));
  border: 2px solid rgb(50, 50, 50);
  border-bottom: 5px solid rgb(50, 50, 50);
  box-shadow: 0px 1px 6px 0px rgb(158, 129, 254);
  transform: translate(0, -3px);
  transition: 0.2s;
  transition-timing-function: linear;
}

.product-card-btn:active {
  transform: translate(0, 0);
  border-bottom: 2px solid rgb(50, 50, 50);
} */

/* .searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
} */

/* label {
  font-weight: bold;
  display: block;
} */

nav {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  padding-right: 4rem;
  z-index: 99;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

nav ul li {
  padding: 10px;
}

/* prevent text from wrapping so it stays in line */
nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
}

/* .product-container {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
} */

/* input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
} */

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

/* .loggedin-nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
} */

/* * {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.counter {
  width: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter div {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  background: #0052cc;
  color: #fff;
  appearance: none;
  outline: 0;
}
.counter span {
  display: block;
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  color: #0052cc;
  user-select: none;
}

@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.loader {
  position: relative;
  width: 96px;
  height: 96px;
  margin: auto;
  border-radius: 0px;
  transform: rotate(45deg);
  top: -90px;
  left: 210px;
}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
  animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
  animation-delay: -10s;
}

/*  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 20px;
  background-color: #e8e8e8;
  padding-top: 40px;
  /* border-bottom: 2px solid black; */
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  height: 10vh;
  width: 10vw;
}

/* ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0 10px;
}

li:first-child {
  margin-left: 0;
}

li:last-child {
  margin-right: 0;
} */

.search-h1 {
  position: absolute;
  top: 50px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.search-h1 > h1 {
  width: fit-content;
  height: fit-content;
}

.product-container {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr;

  margin-top: 125px;
}

.account {
  /* height: 100vh; */
  margin-top: 5rem;
  font-size: 2rem;
}

.shopping-cart {
  /* height: 100vh; */
  margin-top: 5rem;
  font-size: 2rem;
}

.shop-h2 {
  /* margin-top: 5rem; */
  font-size: 3rem;
}

.product-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
